/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');
/* Apply Inter to body */
body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* You can adjust this */
  font-style: normal;
}

/* Apply Macondo to all h1 elements */
h1 {
  font-family: 'Macondo', cursive;
}